<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <nav class="navbar navbar-expand-lg" id="navbar" th:fragment="myHeader">
        <div class="container-fluid px-5"> 
            
            <a class="navbar-brand" th:href="@{/}">
                <i class='bx bxs-plus-medical'></i> Animal Doctors
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
                <span class="navbar-toggler-icon" style="filter: invert(1);"></span> 
            </button>

            <div class="collapse navbar-collapse justify-content-center" id="navbarContent">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" th:href="@{/about}">Về Chúng Tôi</a></li>
                    
                    <li class="nav-item"><a class="nav-link" th:href="@{/services}">Các Dịch Vụ</a></li>
                    
                    <li class="nav-item"><a class="nav-link" href="#">Các Chi Nhánh</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Nghề nghiệp</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Ngân Hàng Máu</a></li>
                </ul>
            </div>

            <div class="d-flex align-items-center">
                <a href="#" class="btn btn-booking">Đặt Hẹn</a>
                <div class="lang-select ms-3">
                    <i class='bx bx-world'></i> Vi <i class='bx bx-chevron-down'></i>
                </div>
            </div>

        </div>
    </nav>
</body>
</html>